services:
  - type: web
    name: saas-barber-api
    runtime: node
    buildCommand: npm install
    startCommand: npm run seed && node src/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_REFRESH_SECRET
        generateValue: true
